body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f7f7f7;
}

.menu {
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
    padding: 100px 20px 20px 20px;
    transition: all 0.3s ease;
    z-index: 1;
}

.hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2.7rem;
    height: 2.1rem;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
}

.hamburger-menu:hover {
    background-color: #666;
}

.hamburger-menu .line {
    width: 2rem;
    height: 0.25rem;
    background: #d4cbcb;
}

.menu.open {
    left: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px 20px;
    width: 140px;
    height: 42px;
    background-color: #666;
    border-radius: 5px;
    display: inline-block;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu a:hover {
    background-color: #888;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-container h2 {
    margin-bottom: 20px;
}