body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

section#miras {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
}

section#slider {
    text-align: center;
    margin: 0 auto;
    /* Slider'ı sayfayı yatayda ortala */
    width: 550px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

section#slider img {
    text-align: center;
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
}

section#bilgiler {
    text-align: center;
    padding: 20px;
}


.menu {
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200px;
    /* Menüyü ekranın dışına taşır */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* Menü öğelerini sola hizalar */
    padding: 100px 20px 20px 20px;
    /* Menü öğeleri için üst, sağ ve sol boşluk ekler */
    transition: all 0.3s ease;
    /* Akışkan açılıp kapanma sağlar */
    z-index: 1;
}

.hamburger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2.7rem;
    height: 2.1rem;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 2;
}

.hamburger-menu:hover {
    background-color: #666;
}

.hamburger-menu .line {
    width: 2rem;
    height: 0.25rem;
    background: #d4cbcb;
    /* istediğiniz renk */
}

.menu.open {
    right: 0;
    /* Menüyü ekranın içine taşır */
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px 20px;
    width: 140px;
    height: 42px;
    background-color: #666;
    border-radius: 5px;
    /* Linklerin köşelerini yuvarlar */
    display: inline-block;
    /* Linklerin padding ve diğer özellikleri düzgün bir şekilde uygulanmasını sağlar */
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu a:hover {
    background-color: #888;
    /* Linkin üzerine gelindiğinde arka plan rengini değiştirir */
}

@media (max-width: 600px) {
    section#slider {
        width: 400px;
    }
}